.hiamo-colours{
    --off-white: #f7f8fa;  /*off-white*/
    --mid-grey: #4c4d4f;  /*mid-grey*/
    --dark-grey: #282a2c; /*dark-grey*/
    --black: #212224;  /*darkest-grey*/
    --orange: #fc3a14;    /*mid-orange*/
    --dark-orange: #e63815; /*darker-orange*/
}

html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 65px;
}

/* Change all link decoration on hover */
a:hover {
    text-decoration: none;
    color: #fc3a14;
    outline: none;
}
a:active, a:focus {
    text-decoration: none;
    outline: none;
}

/** -- Colour Styling -- **/
/* Set up nav bar colours */
.hiamo-nav {
    background-color: #f7f8fa;
    color: #212224;
    border-bottom: 5px solid #fc3a14;
}
/* Setup text colours */
.hiamo-orange { color: #fc3a14; }
.hiamo-dark-orange { color: #e63815; }
.hiamo-white { color: #f7f8fa; }
.hiamo-black { color: #212224; }
.hiamo-grey { color: #282a2c; }
.hiamo-mid-grey { color: #4c4d4f; }
/* Setup background colours */
.hiamo-bg-grey { background-color: #212224; }
.hiamo-bg-orange { background-color: #fc3a14; }
.hiamo-bg-dark-orange { background-color: #e63815; }
.hiamo-bg-white { background-color: #f7f8fa; }

/** -- Font Styling (base) -- **/
/* Setup text types */
.hiamo-small-text { font-family: Work Sans; }
.hiamo-title {
    font-family: Raleway;
    font-weight: bolder;
}
.hiamo-header {
    font-weight: bolder;
    font-family: Poiret One;
}
.hiamo-subheader {
    font-weight: bolder;
    font-family: Work Sans;
}
.hiamo-emphasis { font-family: Playfair Display; }
.hiamo-button-title {
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Raleway;
}
.hiamo-banner-text {
    font-family: Work Sans;
    font-weight: bolder;
    vertical-align: middle;
    line-height: normal;
    margin: 30vh 0;
}

/** -- Positional Styling -- **/
/* Setup positions */
.centre-text-inline {
    text-align: center;
    width: 100%;
}
.centre-width-80 {
    max-width: 80%;
    display: block;
    margin: auto;
}
.centre-width-100 {
    max-width: 100%;
    display: block;
    margin: auto;
}

/** -- Image Styling -- **/
/* Setup images */
.value-img {
    filter: invert(100%);
    margin: auto;
    display: block;
}

/** -- Positional Styling -- **/
/* Padding levels for headers and related */
.top-margin-10 { margin-top: 10%; }
.top-margin-5 { margin-top: 5%; }
.top-margin-2 { margin-top: 2%; }
.bot-padding-10 { padding-bottom: 10%; }
.bot-padding-5 { padding-bottom: 5%; }
.top-padding-10 { padding-top: 5% }
    /* Other positions */
.centre-text { text-align: center; }
.center {
    width: 90%;
    margin: auto;
}

/** -- Other Styling -- **/
.hiamo-div-button {
    border-radius: 30px;
    padding: 5% 0 5% 0;
    width:80%;
    box-shadow: 1px 4px 10px 5px #121213;
    align-content: center;
    text-align: center;
    color: #f7f8fa;
}
.hiamo-div-button:hover {
    background-color: #4c4d4f;
    color: #fc3a14;
}
/* Set styles for nav-link text and cursor */
.nav-link {
    color: #212224;
    font-size: 20px;
    cursor: pointer;
    font-family: Raleway;
}
/* Ensure selectors that do not open new links highlight on hover */
.query-select:hover {
    color: #fc3a14 !important;
}

/*Make it so that if we are above the minimum width (mobile / collapse width) then we center the nav items absoloutely in the center*/
@media (min-width: 813px) {
    /* TODO this is what is breaking the kindle, there needs to be an intermediate width. EIther this stays and the navbar only collapses later, or this goes to a bigger screen size. **/
    /* For the nav bar in desktop mode largely, hence why it is inside this media tag. */
    .absolute-x-right {
        right: 10%;
        position: absolute;
    }
    /* Font Sizes for large screens */
    .hiamo-small-text { font-size: 20px; }
    .hiamo-title { font-size: 75px; }
    .hiamo-header { font-size: 48px; }
    .hiamo-subheader { font-size: 35px; }
    .hiamo-emphasis { font-size: 32px; }
    .hiamo-banner-text { font-size: 70px }
    /* Setup div types */
    .hiamo-rounded-div {
        border-radius: 10px;
        padding: 8%;
    }
    /* Shadows for any given box. Lighter on mobile */
    .box-shadow-std {
        box-shadow: 1px 4px 10px 5px #000;
    }
}
/* If we are within the mobile screen size, apply custom styling */
@media (max-width: 813px) {
    .hiamo-white-title {
        color: #f7f8fa;
        font-weight: bold;
        font-size: 3vw;
    }
    /* Font Sizes for mobile */
    .hiamo-small-text { font-size: 16px; }
    .hiamo-title { font-size: 40px; }
    .hiamo-header { font-size: 32px; }
    .hiamo-subheader { font-size: 22px; }
    .hiamo-emphasis { font-size: 20px; }
    .hiamo-banner-text { font-size: 30px; }
    /* Rounded divs have less padding on mobile, and none on the side */
    .hiamo-rounded-div {
        border-radius: 10px;
        padding: 0 8%;
    }
    /* Alter width of images for mobile */
    .value-img {
        width: 25%;
    }
    /* Shadows for any given box. Lighter on mobile */
    .box-shadow-std {
        box-shadow: 0 0 10px 2px #000;
    }
}

/** -- Slideshow Styling -- **/
.hiamo-banner-title {
    text-align: center;
    padding: 0;
    /* Potentially use this one instead Raleway */
    font-family: Playfair Display;
}
.hiamo-stroke {
    text-shadow:
            -1px -1px 1px #212224,
            1px -1px 1px #212224,
            -1px 1px 1px #212224,
            1px 1px 1px #212224;
}
.hiamo-jumbo-inner {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(33, 34, 36, 0.2);
}
.hiamo-banner-image {
    height: 90.5vh;
    background-size: cover;
    background: no-repeat fixed center center;
    opacity: 1;
}
.fixed-aspect-img {
    width: auto;
}

/*slideshow on home*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next, .prev:not([href]):not([tabindex]), .next:not([href]):not([tabindex]) {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #f7f8fa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover, .prev:not([href]):not([tabindex]):hover, .next:not([href]):not([tabindex]):hover {
      color: #fc3a14;
      background-color: rgba(0,0,0,0.8);
  }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: .2s;
    animation-name: fadeOut;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1}
    to {opacity: .1}
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: .1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  /* .text {font-size: 11px} */
  .prev, .next,.text {font-size: 11px}	
}

/** -- Dropdown Specific Styling -- **/
/* Style the dropdown content */
.dropdown-menu {
    padding: 1px;
    display: none;
    box-shadow: 0 5px 5px 0 #4c4d4f;
    z-index: 1;
    background-color: #f7f8fa;
    cursor: pointer;
}
/* Change the text in the dropdown to fit properly */
.dropdown-menu a {
    color: #212224;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
/* Change the button colours when hovering */
.dropdown-menu a:hover {
    background-color: #fc3a14;
}
/* Ensure each dropdown button has no padding, there's enough padding already. */
.dropdown-item {
    padding: 0;
}
/* override all other CSS to ensure that there is enough padding on the buttons here. Using important is bad, but it must override bootstrap. */
.dropdown-item a {
    padding-left: 1.5vh !important;
    font-size: 18px;
}
/* Show the dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/** -- Font Definitions -- **/
@font-face {
    font-family: 'Raleway';
    src: URL('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

/**  -- Blog related styles -- **/
.hiamo-blog-box {
    cursor: pointer;
    padding: 5%;
    background-color: #f7f8fa;
    max-width: 95%;
    height: 100%;
}
.hiamo-blog-box:hover {
    background-color: #e63815;
    color: #f7f8fa;
}

/** -- Footer related styles -- **/
.hiamo-footer-header {
    font-family: Raleway;
    font-weight: bolder;
}
.footer-list {
    padding: 0;
    margin: auto;
    width: 90%;
}
/* Style social items */
.hiamo-social-footer {
    filter: invert(100%);
    width: 40px;
    padding: 0;
}
.hiamo-social-footer:hover {
    filter: invert(0%);
}
/* Style containers for footer so they don't widen the page */
.hiamo-footer {
    width: 100%;
    background-color: #fc3a14;
    color: #212224;
    padding: 0;
    margin: 0;
}
.footer-row {
    padding: 0;
    margin: 0;
}