.hiamo-nav {
    background-color: #f7f8fa;
    color: #212224;
}

/*Light background*/
.hiamo-light {
    background-color: #eaeaea;
}

.page-bg {
    background-color: #212224;
}

/*Make it so that if we are above the minimum width (mobile / collapse width) then we center the nav items absoloutely in the center*/
@media (min-width: 768px) {
    .absolute-x-center {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    .hiamo-orange-smaller {
        color: #fc3a14;
        font-weight: bold;
        font-size: 2.3vw;
    }
    /* In desktop mode, or tablet mode, this will align text to the left */
    .hiamo-mission {
        width: 40%;
        padding: 2vw;
        padding-top: 1vw;
    }

    .hiamo-white-header {
        color: #f7f8fa;
        font-weight: bold;
        font-size: 2.5vw;
    }
}
/* If we are within the mobile screen size, apply custom styling */
@media (max-width: 768px) {
    .hiamo-orange-smaller {
        color: #fc3a14;
        font-weight: bold;
        font-size: 4vw;
    }
    /* The mission container aligns text and content to center in mobile mode */
    .hiamo-mission {
        width: 100%;
        padding: 2vw;
        text-align: center;
        align-content: center;
    }

    .hiamo-white-header {
        color: #f7f8fa;
        font-weight: bold;
        font-size: 3vw;
    }
}


/* Header Styles */
.hiamo-orange-header {
    color: #fc3a14;
    font-weight: bolder;
    font-size: 60px;
}

.hiamo-email {
    font-size: 30px;
}

/* Fort Dorset image */
.hiamo-header-image {
    background-image: url("../images/DorsetBackground.png");
    background-repeat: no-repeat;
    background-position: center top;
    /*padding-bottom: 37.5%;*/
    background-size: 100% auto;
}

.hiamo-center-container {
    align-content: center;
    text-align: center;
}

.hiamo-social {
    width: 4vw;
    padding: 0;
}
