.title-wrapper {
  height: 150px;
}

.title {
  font-weight: normal;
  color: rgb(var(--color-trim));
  margin: 0;
}

.type {
  font-weight: normal;
  font-size: 20px;
  margin: 5px 0 0 0;
}

.date {
  font-size: 16px;
  margin: 5px 0;
}
.text {
  height: 105px;
  font-size: 16px;
}

.read-more {
  font-size: 16px;
  margin: 0;
  color: rgb(var(--color-trim));
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .title-wrapper {
    height: 115px;
  }
}