/* Style outer row wrapper */
.container {
  display: block;
}

.grid-wrapper {
  padding: 20px 0 40px 0;
  margin: 0 -15px;
}
.grid-row {
  margin: 0 0 10px 15px;
  width: calc(100% - 30px);
  align-content: center;
  align-items: center;
}
.grid-col {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.grid-image {
  display: block;
  margin: auto auto;
  height: auto;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  border-radius: 2px;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .grid-wrapper {
    padding-bottom: 70px;
  }
}