.title-wrapper {
  height: 140px;
}

.title {
  font-weight: bolder;
  color: var(--color-trim);
  margin: 0;
}

.type {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 0 0;
}

.date {
  font-size: 16px;
  margin: 5px 0;
}
.text {
  height: 105px;
  font-size: 16px;
}

.link {
  float: right;
  color: var(--color-trim);
  text-decoration: none;
}

.link:hover {
  color: var(--color-text-trim);
  text-decoration: none;
}