/* Style outer row wrapper */
.container {
  padding: 80px 15px;
}

/* Style header section and texts */
.title-wrapper {
  padding: 0;
  margin: 0;
}
/* If we do not have an image */
.title {
  padding: 0 0 10px 0;
  color: rgb(var(--color-text-trim));
  font-family: Fjalla-One;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
}
.subtitle {
  font-family: Noto-Sans;
  color: rgb(var(--color-text-dark));
  font-size: 24px;
  text-align: center;
}
/* If we do have an image in the banner */
.image-title {
  padding: 0 0 10px 0;
  color: rgb(var(--color-text-dark));
  font-weight: normal;
  font-size: 62px;
}
.image-subtitle {
  font-family: Noto-Sans;
  padding-right: 110px;
  color: rgb(var(--color-text-dark));
  font-weight: normal;
  font-size: 24px;
}

/* Style image section */
.image-wrapper {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-height: 100%;
}