/* Selectible display image on the page */
.image-wrapper {
  cursor: pointer;
  transition: 0.3s;
}
.image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  margin : 0 0 20px 0;
  padding: 0;
}
.image-wrapper:hover {
  opacity: .8;
}

/* Modal image styling */
.modal-image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

/* Modal caption styling */
.modal-caption {
  z-index: 2;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding: 10px 0 30px 0;
  cursor: default;
}
.modal-caption p {
  color:rgb(var(--color-text-light));
  margin: 0;
}
.modal-caption a {
  font-size: 20px;
  color:rgb(var(--color-text-light));
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.modal-caption a:hover {
  text-decoration: none;
  color: rgb(var(--color-trim));
}
.modal-caption span {
  color: rgb(var(--color-trim));
  font-family: Fjalla-One;
  font-size: 24px;
  font-weight: normal;
}

.modal-image-wrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  cursor: default;
}

@keyframes zoom {
  from {transform: scaleX(1.05); filter:opacity(.5)}
  to {transform: scaleX(1); filter:opacity(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-image {
    width: 100%;
  }
}