/* Navbar styling */
/* Set up nav bar colours and bottom border */
.container {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  z-index:1;
  width: 100%;
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-secondary));
  
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.nav {
  /* border-bottom: 1px solid var(--color-trim); */
}

.brandWrapper {
  margin: 0;
}
.brand {
  padding: 0;
  margin: 10px 0;
}

/* Style the nav link buttons */
.link-wrapper {
  padding: 0;
  margin: 0;
}

.link {
  color: rgb(var(--color-text-dark));
  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  font-family: Fjalla-One;
  font-weight: normal;
  font-size: 22px;
  cursor: pointer;
  margin: 0 0 0 50px;
}

.link:hover {
  color: rgb(var(--color-trim));
}
