/* --- Absolute base CSS --- */
/* Define some custom colours for the app */
:root {
    --color-primary: 247,248,250;
    --color-secondary: 33,34,36;
    --color-tertiary: 242,242,242;
    --color-secondary-light: 76,77,79;
    --color-trim: 252,58,20;
    --color-trim-dark: 230,56,21;
    --color-text-dark: 33,34,36;
    --color-text-light: 247,248,250;
    --color-text-trim: 252,58,20;
}

/** Introduce custom fonts **/
@font-face {
  font-family: 'Noto-Sans';
  font-style: normal;
  src: local('NotoSans'), local('Noto-Sans'),
  url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Fjalla-One';
  font-style: normal;
  src: local('Fjalla_One'), local('Fjalla-One'),
  url("../fonts/Fjalla_One/FjallaOne-Regular.ttf") format('truetype');
}

/* Style the base components */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Noto-Sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style specific text elements */
a, label, input, button {
  font-family: Noto-Sans;
}
p {
  font-family: Noto-Sans;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: rgb(var(--color-text-dark));
  /* text-rendering: optimizeLegibility; */
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: rgb(var(--color-text-dark));
  font-family: Fjalla-One;
}

/* Set the MAXIMUM width for the page elements. 
This class wraps all main content in the site, ensuring there is whitespace on the sides. */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}