/* --- Absolute base CSS --- */
/* Define some custom colours for the app */
:root {
    --color-primary: #f7f8fa;
    --color-secondary: #212224;
    --color-tertiary: #F2F2F2;
    --color-secondary-light: #4c4d4f;
    --color-trim: #fc3a14;
    --color-trim-dark: #e63815;
    --color-text-dark: #212224;
    --color-text-light: #f7f8fa;
    --color-text-trim: #fc3a14;
    --color-shadow: #4c4d4f;
    --color-shadow-dark: #000;
}

/** Introduce custom fonts **/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: local('Raleway'),
    url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    src: local('Open-Sans'), local('OpenSans'),
    url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Playfair';
    font-style: normal;
    src: local('Playfair'), local('Playfair-Display'),
    url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Poiret-One';
    font-style: normal;
    src: local('Poiret'), local('Poiret-One'),
    url("../fonts/Poiret_One/PoiretOne-Regular.ttf") format('truetype');
}

/* Style the base components */
html {
  font-family: Open-Sans;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-secondary-light);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style specific text elements */
p {
  font-family: Open-Sans;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--color-text-dark);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--color-text-dark);
}

/* Set the MAXIMUM width for the page elements. 
This class wraps all main content in the site, ensuring there is whitespace on the sides. */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}