/* --- Absolute base CSS --- */
/* Define some custom colours for the app */
:root {
    --color-primary: 247,248,250;
    --color-secondary: 33,34,36;
    --color-tertiary: 242,242,242;
    --color-secondary-light: 76,77,79;
    --color-trim: 252,58,20;
    --color-trim-dark: 230,56,21;
    --color-text-dark: 33,34,36;
    --color-text-light: 247,248,250;
    --color-text-trim: 252,58,20;
    --color-shadow: 76,77,79;
    --color-shadow-dark: 0,0,0;
}

/** Introduce custom fonts **/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: local('Raleway'),
    url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    src: local('Open-Sans'), local('OpenSans'),
    url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Playfair';
    font-style: normal;
    src: local('Playfair'), local('Playfair-Display'),
    url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Poiret-One';
    font-style: normal;
    src: local('Poiret'), local('Poiret-One'),
    url("../fonts/Poiret_One/PoiretOne-Regular.ttf") format('truetype');
}

/* Style the base components */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style specific text elements */
p {
  font-family: Open-Sans;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--color-text-dark);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--color-text-dark);
  font-family: Raleway;
}

/* Set the MAXIMUM width for the page elements. 
This class wraps all main content in the site, ensuring there is whitespace on the sides. */
.content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}