.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.title {
  padding-top: 40px;
  margin: 0;
  color: rgb(var(--color-trim));
  font-size: 32px;
  font-weight: normal;
}

.subtitle {
  color: rgb(var(--color-trim));
}

.text {
  padding-top: 10px;
  font-size: 16px;
}

.read-more {
  font-size: 16px;
  margin: 0;
  color: rgb(var(--color-trim));
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
}