.footer-container {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 2% 0;
    background-color: var(--color-secondary);
}

.image-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    box-shadow: 1px 2px 5px 2px #000;
}

.footer-logo {
    padding: 10%;
    width: 100%;
    height: auto;
    filter: grayscale(0);
}
.image-container:hover {
    opacity: .7;
}

/* Footer text styles */
.contact-header {
    color: var(--color-text-light);
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
}
.contact-text {
    color: var(--color-text-light);
    padding: 0;
    margin: 0;
    font-family: Raleway;
}
.contact-link {
    color: var(--color-text-light);
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    text-decoration: none;
}
.contact-link:hover {
    color: var(--color-trim);
    text-decoration: none;
}
.legal-text {
    color: var(--color-text-light);
    font-size: 15px;
}
/* Social link helpers */
.social-icon {
    filter: invert(100%);
    transition: filter .2s ease-in-out;
    -moz-transition: -moz-filter .2s ease-in-out;
    -webkit-transition: -webkit-filter .2s ease-in-out;
    width: 50px;
    height: 50px;
}
.social-icon:hover {
    filter: invert(50%);
}
/* A wrapper to hold the social links in place */
.social-wrapper {
    height: 50px;
    margin-left: auto;
    margin-right: 0;
    justify-content: right;
    display: flex;
    float: right;
    text-align: right;
}

/* Handle changes for mobile screen sizes */
@media (max-width: 813px) {
    .align-on-collapse {
        padding: 5% 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: flex;
        float: none;
        text-align: center;
    }
    /* Centre social content on collapse as well */
    .social-wrapper {
        height: 40px;
        padding: 5% 0 15% 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: flex;
        float: none;
        text-align: center;
    }
    .social-icon {
        width: 40px;
        height: 40px;
    }

    .image-container {
        width: 60px;
        height: auto;
    }
}
