/* Navbar styling */
/* Set up nav bar colours and bottom border */
.hiamo-nav {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    /*border-bottom: 5px solid var(--color-trim);*/
    box-shadow: 0 0 15px 0 var(--color-shadow);
}
/* Style the nav link buttons */
.hiamo-nav-link {
    color: var(--color-text-dark);
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    font-family: Raleway;
    font-size: 20px;
    cursor: pointer;
}
.hiamo-nav-link:hover {
    color: var(--color-trim);
}