/* Font types */
.hiamo-title {
    font-family: Raleway;
    font-size: 75px;
    font-weight: bolder;
}
.hiamo-header {
    font-family: Raleway;
    font-size:45px;
    font-weight: bold;
    padding: 0 0 2% 0;
}
.hiamo-subheader {
    padding-top: 3%;
    font-family: Playfair;
    font-size: 32px;
}
/*Styling for the banner text*/
.banner-header {
    font-family: Raleway;
    font-weight: bolder;
    font-size: 75px;
    text-shadow: 0 0 30px #000;
}
.banner-text {
    font-family: Raleway;
    text-shadow: 0 0 10px #000;
    font-size: 32px;
}
/* Scale font sizes in the mobile space */
@media (max-width: 813px) {
    .hiamo-title {
        font-size: 45px;
    }
    .hiamo-header {
        font-size: 28px;
    }
    .hiamo-subheader {
        font-size: 22px;
    }
    .banner-header {
        font-size: 40px;
    }
    .banner-text {
        font-size: 22px;
    }
}