/* Selectible display image on the page */
.image {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.image:hover {
  opacity: .7;
}

/* Modal background styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(var(--color-secondary, 0, 0, 0)); /* Fallback color */
  background-color: rgba(var(--color-secondary, 0, 0, 0), .95);
}

/* Modal image styling */
.modal-image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 5px;
}

/* Modal caption styling */
.modal-caption {
  z-index: 2;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-caption p {
  color:rgb(var(--color-text-light));
  margin: 0;
}
.modal-caption a {
  font-size: 20px;
  color:rgb(var(--color-text-light));
  text-decoration: none;
}
.modal-caption a:hover {
  text-decoration: none;
  color: rgb(var(--color-trim));
}
.modal-caption span {
  color: rgb(var(--color-trim));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

/* TODO change clours */
/* Close cross styling */
.modal-cross {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.modal-cross:hover,
.modal-cross:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modal-image,
.modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-image {
    width: 100%;
  }
}