/* Style the motto section in about */
.motto {
  color: rgb(var(--color-trim));
  font-size: 45px;
}
.motto-wrapper {
  padding: 80px 0;
}

/* Style wrappers for specific section children */
.about-wrapper {
  padding: 90px 0 0 0;
}
.team-wrapper {
  padding: 50px 0 90px 0;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  .motto {
    font-size: 30px;
  }
  .motto-wrapper {
    padding: 30px 0;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .motto {
    font-size: 25px;
  }
  .motto-wrapper {
    padding: 10px 0 40px 0;
    text-align: center;
  }
}